.about {
  background-color: rgb(31, 29, 29);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.about-name {
  color: wheat;
  font-size: 3.75rem;
  font-weight: 700;
  text-align: center;
  padding-top: 250px;
  margin-bottom: 8px;
}

.about-description {
  color: rgb(187, 91, 91);
  font-style: italic;
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
  margin: 0;
}